.profile__info {
  max-width: 336px;
  display: grid;
  margin: auto 0 auto 30px;
  grid-template-columns: 294px 24px;
  column-gap: 18px;
}

@media screen and (max-width: 900px) {
  .profile__info {
    margin: 26px auto 36px;
    grid-template-columns: 189px 18px;
    column-gap: 10px;
  }
}
