.header {
    max-width: 880px;
    box-sizing: border-box;
    margin: 0 auto;
    border-bottom: 1px solid #545454B3;
    padding: 45px 0 0;
  }

@media screen and (max-width: 900px) {
  .header {
    width: 100%;
    padding: 28px 0 0;
  }
}

