.popup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100% - 72px);
  margin: auto;
  font-family: "Inter", "Arial", sans-serif;
}

@media screen and (max-width: 900px) {
  .popup__form {
    max-width: calc(100% - 44px);
  }
}
